<div class="container2">
  <h1>Listado de Estudiantes</h1>
  <div class="mat-elevation-z8" style="border-radius: 20px;">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">Nombre Studiante</th>
          <th scope="row" *ngFor="let name of coursesName; let index = index">
            {{ name }}
          </th>
          <th>Detalles</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of studentsName; let index2 = index">
          <th scope="row">{{ student }}</th>
          <td scope2="row" *ngFor="let name of coursesName; let index3 = index">
            {{ studentScore[index2][index3] }}
          </td>
          <td>
            <a class="pointer" style="color: blueviolet" (click)="mostrarEstudiante(student)" >
              <mat-icon>visibility</mat-icon>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
    <mat-paginator
      [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Select page of users"
      style="border-radius: 20px;"
    ></mat-paginator>
  </div>
</div>

<div class="container">
  <ngx-charts-line-chart
    class="grafica"
    [view]="[1000, 800]"
    [legend]="legend"
    [legendTitle]="legendTitle"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxis]="xAxis"
    [yAxis]="yAxis"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [timeline]="timeline"
    [results]="notasConvertida"
    [curve]="curve"
    (select)="onSelect($event)"
    (activate)="onActivate($event)"
    (deactivate)="onDeactivate($event)"
  >
  </ngx-charts-line-chart>
</div>

<!-- Filtro -->

<!-- <mat-form-field appearance="standard">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Filtro" #input autocomplete="off">
  </mat-form-field> -->
